<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode='push'>
    <mat-toolbar>
      <span>Genres</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)='sidenav.toggle()'>
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-action-list>
      <button 
        mat-list-item 
        *ngFor='let genre of genres'
        (click)='searchGenre(genre.name);sidenav.toggle()'
        
      > {{genre.name}} </button>

    </mat-action-list>

  </mat-sidenav>

  <mat-toolbar color='primary'>
    <button mat-icon-button (click)='sidenav.toggle()'>
      <mat-icon>menu</mat-icon>
    </button>
    <span>webMovie</span>
  </mat-toolbar>

  <div class="container">
    <app-search></app-search>
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
